{% extends 'base.html' %}


{% block 'content' %}
<section>
    <h2>HISTORIA QUE INSPIRA DULZURA</h2>
    <p>Hoy en día, Pastelería OK® es la empresa líder en el mercado en la zona de Occidente y está en los primeros lugares a nivel nacional en el área de pastelería y panadería. El crecimiento de GRUPO O.K. ha impresionado a la industria alimenticia, en especial a las empresas de su mismo rubro. La calidad de sus productos y de sus servicios han colocado a esta compañía en el primer lugar. Nuestras estrategias se mantienen alineadas para brindar todos los días más y mejores productos que lleven con orgullo el sello de nuestra marca..</p>
    <p></p>
</section>

<section>
    <h2>Nuestra Misión</h2>
    <p>En OnlyFlans, nuestra misión es deleitar a nuestros clientes con flanes exquisitos y de alta calidad, elaborados con ingredientes frescos y naturales. Nos esforzamos por brindar una experiencia gastronómica única que satisfaga los paladares más exigentes.</p>
</section>

<section>
    <h2>Nuestro Equipo</h2>
    <p>Detrás de cada delicioso flan de OnlyFlans hay un equipo apasionado y comprometido con la excelencia. Nuestros chefs expertos se dedican a perfeccionar cada receta, mientras que nuestro equipo de atención al cliente trabaja arduamente para garantizar la satisfacción de cada cliente.</p>
</section>
</main>
{% endblock 'content' %}