{% extends 'base.html' %}
{% load static %}


{% block 'content' %}
<div class="card-group">
    <div class="card">
      <img src="{% static "img/flancar1.png" %}" class="card-img-top" alt="Hollywood Sign on The Hill"/>
      <div class="card-body">
        <h5 class="card-title">Flan de Vainilla</h5>
        <p class="card-text">
          Mavarillso Flan de Vainilla de Borneo, con un particular sabor suave e intenso tropical
        </p>
      </div>
      <div class="card-footer">
        <small class="text-muted">De los mas vendidos</small>
      </div>
    </div>
    <div class="card">
      <img src="{% static "img/flancar2.png" %}" class="card-img-top" alt="Palm Springs Road"/>
      <div class="card-body">
        <h5 class="card-title">Flan Frutos del Bosque</h5>
        <p class="card-text"> flan light de vainilla con una deliciosa mezcla de frutos rojos y un refrescante toque de menta. Este postre es bajo en azúcar y calorías, pero muy cremoso y rico.</p>
      </div>
      <div class="card-footer">
        <small class="text-muted"> ¡Seguro te fascinará!</small>
      </div>
    </div>
    <div class="card">
      <img src="{% static "img/flancar3.png" %}" class="card-img-top" alt="Los Angeles Skyscrapers"/>
      <div class="card-body">
        <h5 class="card-title">Flan de Frambuesa</h5>
        <p class="card-text">
            El flan de frambuesa es un exquisito postre que combina la suavidad y cremosidad del flan tradicional con el sabor fresco y vibrante de las frambuesas.
        </p>
      </div>
      <div class="card-footer">
        <small class="text-muted">Diferente y exquisito</small>
      </div>
    </div>
  </div>
  <div class="card-group">
    <div class="card">
      <img src="{% static "img/flancar4.png" %}"class="card-img-top" alt="Hollywood Sign on The Hill"/>
      <div class="card-body">
        <h5 class="card-title">Flan de cerezas</h5>
        <p class="card-text">
            Flan tres leches bañado con mermelada de cereza y melocotón con pistachos triturados!💕. Mermelada de melocotón y de cereza .
        </p>
      </div>
      <div class="card-footer">
        <small class="text-muted">Last updated 3 mins ago</small>
      </div>
    </div>
    <div class="card">
      <img src="{% static "img/flanfrutilla.png" %}" class="card-img-top" alt="Palm Springs Road"/>
      <div class="card-body">
        <h5 class="card-title">Flan de Naranja</h5>
        <p class="card-text">Maravilloso flan con zumo fresco de naranja.</p>
      </div>
      <div class="card-footer">
        <small class="text-muted">Ideal para los dias calurosos</small>
      </div>
    </div>
    <div class="card">
      <img src="{% static "img/flanhelado.png" %}"class="card-img-top" alt="Los Angeles Skyscrapers"/>
      <div class="card-body">
        <h5 class="card-title">Flan Helado</h5>
        <p class="card-text">
            El flan casero es uno de los reyes de los postres. Con nata o en un pijama es de los favoritos de los niños, pero tal vez no hayan probado su versión en helado. Sobre todo si lo sirves también con nata montada, caramelo o algo de fruta.
        </p>
      </div>
      <div class="card-footer">
        <small class="text-muted">Para chuparse los dedos está</small>
      </div>
    </div>
  </div>
{% endblock 'content' %}

